@import './theme';

.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}
.full-height-min {
  min-height: 100vh;
}
.text-center {
  text-align: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0 10px;
}
