@import './theme';

*,
body,
button,
input,
select,
textarea {
  font-family: $defaultFont;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.full-height-min {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.flex-vertical-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 0 10px;
}

.input-wrapper {
  .input,
  select {
    padding-left: 30px;
  }

  .input,
  select,
  textarea {
    color: $dark;
    font-size: 14px;
    font-weight: bold;
    min-height: 44px;

    &::placeholder {
      color: $boulder;
      opacity: 1;
    }
  }
}

.link-section .link-input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: $dark;
  font-size: 14px;
  font-weight: bold;
  min-height: 44px;
  z-index: -1;

  &::placeholder {
    color: $boulder;
    opacity: 1;
  }
}

.map-wrapper > div {
  height: 100% !important;
  width: 100% !important;

  .mapboxgl-marker {
    left: -29px !important;
    top: -46px !important;
  }

  .button-reset-map {
    background-color: $chestnutRose;
    color: $white;

    &:hover {
      background-color: $white;
      border: solid 1px;
      color: $chestnutRose;
    }

    span:not(.icon) {
      font-size: 10px;
      font-weight: bold;
      line-height: 1;
      text-align: left;
      text-transform: uppercase;
    }
  }
}
